@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme='1'] {
    --primary: #007D04;
    --secondary: #F8D8E9;
    --background: #F9F9F9;
  }

  html[data-theme='2'] {
    --primary: #1900A9;
    --secondary: #F8D8E9;
    --background: #F9F9F9;
  }
  
  html[data-theme='3'] {
    --primary: #1900A9;
    --secondary: #EAEA00;
    --background: #F9F9F9;
  }
  
  html[data-theme='4'] {
    --primary: #00203F;
    --secondary: #ADEFD1;
    --background: #F9F9F9;
  }
  
  html[data-theme='5'] {
    --primary: #234E70;
    --secondary: #FBF8BE;
    --background: #F9F9F9;
  }
  
  html[data-theme='6'] {
    --primary: #F02F34;
    --secondary: #E7D3BB;
    --background: #F9F9F9;
  }

  .link {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
  }

  .code {
    @apply bg-gray-100 rounded py-1 px-2
  }
}
